.tarea-completada {
    text-decoration: line-through;
    opacity: 0.6;
    transition: all 0.3s ease;
}

li {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

li.mostrar {
    opacity: 1;
    transform: translateY(0);
}

li.eliminar {
    opacity: 0;
    transform: translateX(20px);
}


button {
    transition: transform 0.15s ease;
}

button:active {
    transform: scale(0.9);
}

body.dark {
    background-color: #121212;
    color: #f5f5f5;
}

body.dark input, 
body.dark button{
    background-color: #1e1e1e;
    color: white;
    border: 1px Solid #333;
}

body.dark li { 
    background-color: #1a1a1a;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

@media (max-width: 600px){

    body {
        font-size: 16px;
    }

    button {
        width: 100%;
        margin-top: 5px;
    }

    li {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    font-size: 16px;
}

#filtros { 
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#filtros button{
    flex: 1 1 45%;
}

@keyframes completarFlash {
    0% {background: #d4ffd4;}
    100% {background: transparent;}
}

.tarea-flash {
    animation: completeflash 0.5s ease; 
}

@keyframes bounce {
    0% { transform: scale(1);}
    50% { transform: scale(1.05);}
    100% { transform: scale(1);}
}

.tarea-bounce {
    animation: bounce 0.25s ease;
}

li:hover {
    background-color: rgb(0,0,0,0.5);
    transform: translate(3px);
}

body.dark li:hover { 
    background-color: rgba(255, 255, 2555, 0.08);
}

button:hover {
    transform: scale(1.03);
}

button:active {
    transform: scale(0.92);
}


