.tarea-completada {
    text-decoration: line-through;
    opacity: 0.6;
    transition: all 0.3s ease;
}

li {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

li.mostrar {
    opacity: 1;
    transform: translateY(0);
}

li.eliminar {
    opacity: 0;
    transform: translateX(20px);
}


button {
    transition: transform 0.15s ease;
}

button:active {
    transform: scale(0.9);
}

body.dark {
    background-color: #121212;
    color: #f5f5f5;
}

body.dark input, 
body.dark button{
    background-color: #1e1e1e;
    color: white;
    border: 1px Solid #333;
}

body.dark li { 
    background-color: #1a1a1a;
}


